            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <!-- DATA FEED -->
                    <div class="panel panel-default data-feed" style="width:1200px">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Data Feed
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal">Settings</a>
                                        </li>
                                        <li>
                                            <a href="#">Refresh</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Hide</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped" id="data-feed">
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Settings (Data Feed)</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label"
                                                                           for="input_size">Max Size</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="range" class="form-control"
                                                                               id="input_size" placeholder="Size" />
                                                                    </div>
                                                                 </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                                    <!-- /.col-lg-4 (nested) -->
                                    <div class="col-lg-8">
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                    <!-- /.col-lg-8 (nested) -->
                                </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- / DATA FEED -->
                    <div class="panel panel-default invisible">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Line Chart
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal_line">Settings</a>
                                        </li>
                                        <li>
                                            <a href="#">Refresh</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Hide</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body line-chart">
                            @{Html.RenderPartial("_Line"); }
                        </div>
                        <!-- /.panel-body -->
                        <div id="myModal_line" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Settings (Data Feed)</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"
                                                       for="input_size">Ticker Symbol</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                           id="symbol" maxlength="3" placeholder="Symbol" />
                                                </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        </div>
                   </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<script>
    function loadPartialView_SDR() {
        $.ajax({
            url: "@Url.Action("get_SDR", "Home")",
            type: 'GET', // <-- make a async request by GET
        dataType: 'html', // <-- to expect an html response
        success: function(result) {
            $('#data-feed').html(result);
        }
    });
    }
    $(document).ready(loadPartialView_SDR());
</script>