<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ExcelSync.Properties.Settings.ExcelSyncConnectionString" connectionString="Data Source=TAGS2USQL1.tradapps.int;Initial Catalog=ExcelSync;Persist Security Info=True;User ID=EXCELSYNC_USER;Password=abc732XYZ" providerName="System.Data.SqlClient"/>
    <add name="ExcelSync.Properties.Settings.ShareDBConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ShareDB\ShareDB.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="ExcelSync.Properties.Settings.ShareDBConnectionString" connectionString="Server=SVR-2K3-GS2-D8\SQLEXPRESS;Database=ExcelSync;User Id=sa;
Password=abc732XYZ;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
