<div class="page">
    <div class="main">
        <div id="divContainer">
            <div class="list-group">
                <a href="@Url.Action("Index", "Home")" class="list-group-item" style="background-image:url('@Url.Content("~/Content/Images/index_sdr-web.png")')">
                    <div class="media col-md-4">
                    </div>
                    <div class="col-md-7">
                        <h4 class="list-group-item-heading"><font style="font-size:48px">SDRDATA PARSER</font> </h4>
                        <p class="list-group-item-text">
                            Real time feed of Market Data - Commodities and Others
                        </p>
                    </div>
                    <div class="media col-md-4">
                    </div>
                </a>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "Market")" class="list-group-item" style="background-image:url('@Url.Content("~/Content/Images/index_market-web.png")')">
                    <div class="media col-md-4">
                    </div>
                    <div class="col-md-7">
                        <h4 class="list-group-item-heading"><font style="font-size:48px">Daily Market Report</font> </h4>
                        <p class="list-group-item-text">
                            Today's market share data
                        </p>
                    </div>
                    <div class="media col-md-4">
                    </div>
                </a>
            </div>
        </div>
        <br>


    </div>
</div>

<style type="text/css">
    a.list-group-item {
    height:auto;
    min-height:150px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
 
                .center {
                text-align: center;
            }

            .left {
                text-align: left;
            }

            .right {
                float: right;
            }

            .topLabel {
                text-decoration: underline;
                color: #000015;
            }

            .divs {
                clear: both;
                border: thin solid #000015;
                color: #000015;
                background-color: #FFFFFF;
                margin: 4px;
                margin-left: auto;
                margin-right: auto;
                height: 170px;
                width: 391px;
            }

            .pushCenter {
                margin-left: 128px;
                margin-right: 5px;
            }

            #divContainer {
                margin-bottom: 20%;
                width: 100%;
                height: 100%;
            }

            #divFloater {
                height: 50%;
                width: 100%;
                margin-bottom: -80px; /* half of content divs */
            }

            .button {
                padding: 5px;
            }

            .buttonLogin {
                padding-left: 10px;
                padding-right: 10px;
            }

            .wrongLabel {
                margin-bottom: 25px;
                margin-top: 25px;
                padding-bottom: 25px;
                padding-top: 25px;
            }


            .style4 {
                height: 152px;
            }

</style>