<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ReportParser/src/Controller.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reportparser.Controller"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="STOP ${workspace_loc:ReportParser}\config\config.AR.EN.TICKER.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ReportParser"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configurationFile=&quot;file:${workspace_loc:ReportParser}\config\log4j2.xml&quot; -Djavax.net.ssl.trustStore=&quot;c:/Program Files/Java/jdk1.8.0_40/jre/lib/security/cacerts"/>
</launchConfiguration>
