@model IEnumerable<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> members = ViewBag.members;
    List<string> people = ViewBag.people;
}


<form action="@Url.Action("Members","Account")" method="post" autocomplete="on">

    <div>
        <label>Members:</label>
        @(Html.C1().ComboBox().Bind(members).SelectedIndex(0).IsEditable(false).Name("Group"))
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="Members" id="usr" placeholder="Search for...">
                <span class="input-group-btn">
                    <input class="btn btn-secondary" type="submit" name="submit" />
                </span>
            </div>
        </div>
    </div>

</form>

<div class="form-check">
    @foreach (var person in people ?? Enumerable.Empty<string>())
    {
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" style="visibility:hidden" value="@(person)" />
            @person
        </label>
    }
</div>

<style>
    .form-check-label {
        background-color: #CAECCF;
    }
    .select {
        background-color: #76C4AE;
    }
</style>

<script>
    $(".form-check-input").change(function () {
        if (this.checked) {
            $("#usr").val(!$("#usr").val() ? $(this).val() : $("#usr").val() + "," + $(this).val());
            $(this).parent("label").addClass("select");
        }
        else {
            $("#usr").val().charAt($("#usr").val().indexOf($(this).val()) - 1) == ',' ?
            $("#usr").val($("#usr").val().replace("," + $(this).val(), "")) : $("#usr").val().charAt($("#usr").val().indexOf($(this).val()) + $(this).val().length) == ',' ?
                $("#usr").val($("#usr").val().replace($(this).val() + ",", "")) : $("#usr").val($("#usr").val().replace($(this).val(), ""));
            $(this).parent("label").removeClass("select");
        }
    });
</script>